<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         processIsolation="true"
        >
    <testsuites>
        <testsuite name="Main">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Calculator">
            <file>./tests/Problem2/PlotCalculatorTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>